{{ partial "header.html" . }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      {{ partial "page_title.html" . }}
    </div>
  </div>
</section>
<div class="container is-fullhd ">
  <div class="columns">
    <div class="column is-two-thirds" data-aos="slide-right">
      <div class="section">
        {{ partial "investor-calendar-menu.html" . }}
      
      <div class="column is-6 " >
        <figure class="image is-4by3">
          <img style="padding: 5px;border: 1px solid #ccc;" src="{{ (trim .Params.featured_image "/") | absURL }}">
        </figure>
      </div>
      </div>
    </div>
    <div class="column" data-aos="slide-left">
      {{ partial "investor-menu-contextual.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}