{{ partial "header.html" . }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      {{ partial "page_title.html" . }}
    </div>
  </div>
</section>
<div class="container is-fullhd ">
  <div class="columns">
    <div class="column is-two-thirds" data-aos="zoom-in">
      <section class="section">
        <nav class="breadcrumb mb-std" aria-label="breadcrumbs">
          <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Parent.Parent.URL }}">Investors</a></li>
            <li><a href="{{ .Parent.URL }}">{{ .Parent.Title }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
          </ul>
        </nav>
        <div class="section" style="padding-top: 30px; border: 2px solid #f5f5f5;
          border-radius: 10px;">
          {{ .Content }}
        </div>
      </section>
    </div>
    <div class="column" data-aos="slide-left">
      {{ partial "investor-menu-single.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}