{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
{{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}
{{ $currentSection := (where .Site.RegularPages "Section" .Section) }}
{{/* Get the number of entries of  $currentSection and subtract 1 */}}
{{ $i := sub ($currentSection | len) 1 }}
{{/* So we can only show this menu if there are one or more other entries  */}}
{{ if ge $i 0 }}

{{ partial "header.html" . }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      {{ partial "page_title.html" . }}
    </div>
  </div>
</section>
<!-- {{ partial "news-menu.html" . }} -->
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="section">
      {{ partial "news-menu.html" . }}
    </div>
    
  </div>
</div>
{{ end }}
{{ partial "footer.html" . }}