{{ partial "header.html" . }}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      {{ partial "page_title.html" . }}
    </div>
  </div>
</section>
<div class="hero-body">
  <div class="container has-text-centered">
    <nav class="breadcrumb mb-std" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Parent.URL }}">News</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
      </ul>
    </nav>
    <div class="columns">
      <div class="column is-5" data-aos="zoom-in">
        <figure class="image is-4by3">
          <img style="padding: 5px;border: 3px solid #000;" src="{{ (trim .Params.featured_image "/") | absURL }}">
        </figure>
      </div>
      <div class="column is-6 is-offset-1" data-aos="slide-left">
        <div>
          <h2 class="has-text-justified">
          {{ .Content }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}